-# frozen_string_literal: true
= append_javascript_pack_tag "search_bar"

= simple_form_for(@hole) do |f|
  .card-body
    = f.input :hole_number, required: true
    = f.input :course_name, required: true, input_html: {id: "searchbar"}

  .card-footer.d-flex
    = f.submit 'Save', class: 'btn btn-primary', id: 'submit-hole' 
    = link_to 'Back', holes_path, class: 'btn btn-link ms-auto'
