-# frozen_string_literal: true
= simple_form_for(@hole) do |f|
  .card-body
    = f.input :hole_number, wrapper_html: { class: 'mb-3' }
    = f.input :is_beingEdited, wrapper_html: { class: 'mb-3' }
    = f.input :user_id, wrapper_html: { class: 'mb-3' }
    = f.input :course_id, wrapper_html: { class: 'mb-3' }

  .card-footer.d-flex
    %button.btn.btn-primary{ type: 'submit' }
      Save
    = link_to 'Back', holes_path, class: 'btn btn-link ms-auto'
