= append_javascript_pack_tag "map"

.row.justify-content-center
  .col-lg-9
    .card
      .card-header Hole Details
      .card-body
        %h5
          Hole 
          = @hole.hole_number
        %h5 
          = @hole.course_name
  
        #map

      .card-footer.d-flex
        = link_to 'Edit', edit_hole_path(@hole), class: 'btn btn-link'
        = link_to 'Back', holes_path, class: 'btn btn-link ms-auto'

    %input#course{:value => @hole.course_name, :hidden => true}
    %input#xCoordinates{:name => "xCoords",:value => @xCoordinates, :hidden => true}
    %input#yCoordinates{:name => "yCoords", :value => @yCoordinates, :hidden => true}
    %input#terrain_type{:name => "terrains", :value => @terrain_type, :hidden => true}