.card
  .card-header.d-flex.align-items-center
    %span Choose a Hole to Create 

  %table.table
    %thead
      %tr
        %th Hole Number
        %th Creator
        %th Course Name
        %th
    %tbody
      - @holes.each do |hole|
        %tr
          %td= hole.hole_number
          %td= hole.user.email
          %td= hole.course_name
          %td
            .btn-toolbar.float-end
              -# = link_to 'Create', create_user_hole_path(hole), class: 'btn btn-outline-secondary btn-sm'
              = simple_form_for @user_hole do |f|
                = f.input :hole_id , as: :hidden, input_html: { value: hole.id}
                = f.submit 'Create', class: 'btn btn-primary'
