.row.justify-content-center
  .col-lg-8
    .card
      .card-header.d-flex.align-items-center
        %span Golf Clubs
        = link_to 'Add New Golf Club', new_golf_club_path, class: 'btn btn-outline-secondary ms-auto'
      
      %table.table
        %thead
          %tr
            %th Hole Number
            %th Manufacturer
            %th Club Type
            %th Hole Number
            %th
        %tbody
        - @golf_clubs.each do |golf_club|
          %tr
            %td= golf_club.name
            %td= golf_club.manufacturer
            %td= golf_club.club_type
            %td= golf_club.user_hole_id
            %td
              .btn-toolbar.float-end
                = link_to 'Show', golf_club_path(golf_club), class: 'btn btn-outline-secondary btn-sm'
                = link_to 'Edit', edit_golf_club_path(golf_club), class: 'btn btn-outline-secondary ms-1 btn-sm'
                = link_to 'Delete', golf_club_path(golf_club), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ms-1 btn-sm'
