= append_javascript_pack_tag "hole"

= simple_form_for(@datum) do |f|
  .card-body
    = f.input :xCoordinates, wrapper_html: { class: 'mb-3' }
    = f.input :yCoordinates, wrapper_html: { class: 'mb-3' }
    = f.input :hole_id, wrapper_html: { class: 'mb-3' }
    = f.input :user_hole_id, wrapper_html: { class: 'mb-3' }
    
    %p Draw out the features of the hole, using the shape types below
    %select.form-select{id: "shape-type"}
      %option{value: "fairway"} Fairway
      %option{value: "green"} Green
      %option{value: "rough"} Rough
      %option{value: "rock"} Rock
      %option{value: "bunker"} Bunker
      %option{value: "water"} Water
      %option{value: "tree"} Tree
      %option{value: "tee"} Teeing Ground

    #map

  .card-footer.d-flex
    = f.submit "Save", class: "btn btn-primary", id: "submit-hole"
    = link_to "Back", holes_path, class: "btn btn-link ms-auto"
