.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header
        Datum details
      .card-body
        %dl.row.mb-0
          %dt.col-md-3 Xcoordinates:
          %dd.col-md-9= @datum.xCoordinates
          %dt.col-md-3 Ycoordinates:
          %dd.col-md-9= @datum.yCoordinates
          %dt.col-md-3 Hole:
          %dd.col-md-9= @datum.hole_id
          %dt.col-md-3 Userhole:
          %dd.col-md-9= @datum.userhole_id
      .card-footer.d-flex
        = link_to 'Edit', edit_datum_path(@datum), class: 'btn btn-link'
        = link_to 'Back', data_path, class: 'btn btn-link ms-auto'