!!!
%html{ lang: 'en-GB' }
  %head
    %title Project

    %meta{ :'http-equiv' => "content-type", content: "text/html; charset=utf-8" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, shrink-to-fit=no" }

    - if content_for(:description)
      %meta{ content: content_for(:description), name: 'description' }

    %title= ["Project", content_for(:title)].compact.join(' - ')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'styles', media: 'all'

    - if controller_name == 'holes' && (action_name == 'edit' || action_name == "new")
      = javascript_pack_tag 'application_with_hole'
    - elsif controller_name == 'user_holes' && (action_name == 'edit')
      = javascript_pack_tag 'application_with_user_hole'
    - else
      = javascript_pack_tag 'application'

  %body
    - if flash.present?
      .container-fluid.flash-messages{onclick: "removeFlashMsg()"}
        - flash.each do |message_type, message|
          - next unless message_type == 'alert' || message_type == 'notice'
          .alert{ class: "alert-#{ message_type == 'notice' ? 'success' : 'danger' }"}
            %button.close{type: "button", data: {bs_dismiss: "alert"}, aria: {label: "Close"}}
              &times;
            = message

    -unless !user_signed_in? && (controller_name == 'sessions' || controller_name == 'registrations' || controller_name == 'passwords')
      %header{class: ("home-header" if action_name == 'home')}
        %nav.navbar.navbar-expand-lg.navbar-light.bg-light
          .container-fluid
            = link_to '/', class: 'navbar-brand' do
              = image_pack_tag 'logo.png', height: 50
            
            %button.navbar-toggler{type: "button", data: {bs_toggle: "collapse", bs_target: "#navbarToggle"}, aria: {controls: "navbarToggle", expanded: "false", label: "Toggle navigation"}}
              %span.navbar-toggler-icon

            #navbarToggle.collapse.navbar-collapse
              %ul.navbar-nav.me-auto.mb-2.mb-lg-0
                %li.nav-item
                  = link_to 'Home', root_path, class: 'nav-link'
                - if user_signed_in?
                  %li.nav-item
                    = link_to 'Holes Page', holes_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'User Holes Page', user_holes_path, class: 'nav-link'
                  %li.nav-item
                    = link_to 'Download CSV Database', export_path, class: 'nav-link'
              %ul.navbar-nav
                %li.nav-item.dropdown
                - if user_signed_in?
                  = link_to current_user.email, '#', class: 'nav-link dropdown-toggle btn', role: 'button', data: {bs_toggle: 'dropdown'}, aria: {expanded: 'false'}
                  %ul.dropdown-menu.dropdown-menu-end
                    %li
                      = link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item'
                    %li
                      = link_to 'Log out', destroy_user_session_path, class: 'dropdown-item', method: :delete, onclick: "return confirm('Are you sure?')", style: 'color: red;'
                - else
                  = link_to 'Log in', new_user_session_path, class: 'nav-link btn'
                  = link_to 'Sign up', new_user_registration_path, class: 'nav-link btn'
              
      %main
        - unless action_name == 'home'
          .container-fluid
            = yield
        - else
          = yield

    - else
      %main
        = yield

    %footer
      .container-fluid
        .d-flex.p-3
          &copy; 2031 - GolfLab.com